{% set map = salt['grains.filter_by']({
    'Arch': {
        'pkgs': ['nagios-nrpe', 'nagios-nrpe-plugin', ],
        'service': 'nrpe',
        'pkg_name': 'nrpe',
        'user_name': 'nrpe',
        'user_home': '/usr/share/nagios',
        'uid': '30',
        'gid': '30',
        },
    'Redhat': {
        'pkgs': ['nrpe', 'nagios-plugins-nrpe', ],
        'service': 'nrpe',
        'pkg_name': 'nrpe',
        'user_name': 'nrpe',
        'user_home': '/usr/share/nagios',
        'uid': '30',
        'gid': '30',
      },
    'Debian': {
        'pkgs': ['nagios-nrpe-server', 'nagios-nrpe-plugin', ],
        'service': 'nagios-nrpe-server',
        'pkg_name': 'nagios-nrpe-server', 
        'user_name': 'nagios',
        'user_home': '/var/lib/nagios',
        'uid': '50',
        'gid': '50',
      },

}, merge=salt['pillar.get']('nrpe:lookup')) %}
